.slide{background-color: #2c3e50;min-height: 1270px;color: white;padding-top: 10%}
.post-title{color: #e74c3c}
.sidebar-header{text-align: center;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}
.s-menu{position: fixed;top: 45px;right: 45px;}
