			<div class="dropdown s-menu pull-right" >
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <span class="glyphicon glyphicon-menu-hamburger"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li>
			    	<a href="/">
			    	<span class="glyphicon glyphicon-home"></span> 
			    	首页</a>
			    </li>
			     <li>
			    	<a href="/categories">
			    	<span class="glyphicon glyphicon-folder-open"></span> 
			    	分类</a>
			    </li>
			     <li>
			    	<a href="/tags" >
			    	<span class="glyphicon glyphicon-tags"></span> 
			    	标签</a>
			    </li>
			  </ul>
			</div>
