<div class="col-md-9">
			<div class="dropdown right">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <span class="glyphicon glyphicon-menu-hamburger"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li>
			    	<a href="/">
			    	<span class="glyphicon glyphicon-home"></span> 
			    	Home</a>
			    </li>
			     <li>
			    	<a href="categorys">
			    	<span class="glyphicon glyphicon-folder-open"></span> 
			    	Category</a>
			    </li>
			     <li>
			    	<a href="tags">
			    	<span class="glyphicon glyphicon-tags"></span> 
			    	Tags</a>
			    </li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div>
		</div>